[user]
    name = Damian Arroyo
    email = damian.pk.89@gmail.com

[alias]
    back = reset --hard HEAD^
    purge = !git reset --hard HEAD && git clean -d -f
    amend = commit --amend --reuse-message=HEAD
